@mixin zoomIn($dur: 1s, $ease: 'ease') {
    animation: zoomIn #{$dur} #{$ease};

    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.3);
        }
      
        30% {
            opacity: 0;
        }
    }
}


// vertical slide
.slide-vertical-enter-from,
.slide-vertical-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.slide-vertical-enter-active,
.slide-vertical-leave-active {
  transition: transform 200ms ease-in-out, opacity 350ms ease-in-out;
}


// horizontal slide
.slide-horizontal-enter-from,
.slide-horizontal-leave-to {
  opacity: 0;

  &.anim-side {
    &--left {
      transform: translateX(-100%);
    }

    &--right {
      transform: translateX(100%);
    }
  }
}

.slide-horizontal-enter-active,
.slide-horizontal-leave-active {
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}