@import 'variables';

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: none;
}

body {
    font-family: $font;
    font-size: $font-size--md;
    color: $gray--dark;
    line-height: $line-height;
}

h1, 
h2, 
h3 {
    font-family: $font;
    color: $black;
    margin: 0 0 $space--sm;
}

h1 {
    font-size: $font-size--xl;
}

h2 {
    font-size: $font-size--lg;
}

h3 {
    font-size: $font-size--md-lg;
}

p {   
    margin: 0 0 $space--sm;
    line-height: $line-height;
}

ul {
    margin-left: $space--md;
    list-style-type: disc;
}

li {
    padding-left: $space--xsm;
    line-height: $line-height;
    list-style: square;

    &:not(:last-of-type) {
        margin-bottom: $space--xsm;
    }
}

label {
    margin-bottom: $space--sm;
    color: $black;
    font-size: $font-size--md-lg;
}

input[type=text],
input[type=password] {
    padding: $space--xsm;
    width: 100%;
    color: $black;
    font-size: $font-size--md;
    border: 1px solid $black;
    border-radius: $border-radius;
}

textarea {
    width: 100%;
    font-family: $font;
    font-size: $font-size--md;
    line-height: $line-height;
    color: $black;
    resize: none;
    border: 1px solid transparent;
    border-radius: $border-radius;

    &::-webkit-resizer {
        display: none;
    }
}