@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.woff') format('font-woff');
}

//todo: heading fronts moeten zwaarder/dikker zijn

$font: 'Roboto', Arial, Helvetica, sans-serif;
