@import 'variables';
@import 'colors';

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.woff') format('woff');
}

$font: 'Roboto', Arial, Helvetica, sans-serif;

body {
    font-family: $font;
    font-size: 16px;
    color: $gray--dark;
}

h1 {
    font-family: $font;
    font-size: 26px;
    color: $black;
    margin: 0 0 $size--sm;
}

h2 {
    font-family: $font;
    font-size: 18px;
    color: $black;
    margin: 0 0 $size--sm;
}

p {   
    margin: 0 0 $size--sm;
}

ul {
    margin-left: $size--md;
    list-style-type: disc;
}

li {
    margin-bottom: $size--xsm;
}