// colors
$white: #ffffff;
$white--overlay: rgba(255, 255, 255, .9);
$black: #212121;
$gray--dark: #616161;
$gray--dark-opacity: rgba(97, 97, 97, .1);
$gray--light: #C9C9C9;
$gray--light-extra: #f0f0f0;
$purple: #6404EE;
$purple--opacity: rgba(100,4,238, .1);
$purple--opacity-solid: #EFE6FD;
$green: #00C853;
$red: #D50000;


// whitespace
$space--xl: 80px;
$space--lg: 50px;
$space--md: 30px;
$space--sm-md: 20px;
$space--sm: 10px;
$space--xsm: 5px;


// fonts
$font-size--xl: 26px;
$font-size--lg: 20px;
$font-size--md-lg: 18px;
$font-size--md: 16px;
$font-size--sm: 12px;


// width
$documentation-width: 900px;
$sidebar-width: 465px;
$popup-width: 630px;


// height
$tabs-height: 50px;
$button-height: 45px;
$feedbfack-actions-height: 40px;
$dropzone-height: 150px;
$feedback-image-preview-height: 350px;


// border
$border--ui: 1px solid $gray--light;
$border--drop: 1px solid $black;
$border--button: 2px solid $purple;
$border-radius: 5px;


// timing
$ease--fast: cubic-bezier(0, 0, 0, 1);

