$space--xl: 80px;
$space--lg: 50px;
$space--md: 30px;
$space--sm-md: 20px;
$space--sm: 10px;
$space--xsm: 5px;

$documentation-width: 900px;
$sidebar-width: 450px;

$tabs-height: 50px;
$button-height: 45px;

$ease: cubic-bezier(.23, .75, .26, .9);